//size
$size01:1360px;
$size-heigh01:500px;
$size03:600px;
$size-heigh02:450px;
$size04: 150px;
$size05: 400px;
$size06:1200px;
$size1: 30px;
$size2: 20px;
$sizemarg: 0 auto;
//color
$color01: #b3ffff; 
$color02: #636363;

// fonts

$fontqariri:'Qahiri';
$fontsfuggle: 'Fuggles';

